---
- name: Create Loki Operator namespace 
  kubernetes.core.k8s:
    name: loki
    api_version: v1
    kind: Namespace
    state: present

- name: Increase max_user_instances value
  shell: "sysctl fs.inotify.max_user_instances=512"

- name: Add Helm Repo 
  kubernetes.core.helm_repository:
    name: grafana
    repo_url: "https://grafana.github.io/helm-charts"

- name: Install Loki and Promtail
  kubernetes.core.helm:
    name: loki
    chart_ref: grafana/loki-stack
    state: present
    release_namespace: loki
    update_repo_cache: true
    values: "{{ lookup('template', '{{ role_path }}/templates/values.yaml') | from_yaml }}"


