---

- name: Download kubectl binary
  get_url:
    url: "https://dl.k8s.io/release/{{ lookup('url', 'https://dl.k8s.io/release/stable.txt') }}/bin/linux/amd64/kubectl"
    dest: /tmp/kubectl
    mode: '0755'

- name: Download kubectl sha256
  get_url:
    url: "https://dl.k8s.io/release/{{ lookup('url', 'https://dl.k8s.io/release/stable.txt') }}/bin/linux/amd64/kubectl.sha256"
    dest: /tmp/kubectl.sha256

- name: Verify kubectl binary checksum
  command: "sha256sum -c /tmp/kubectl.sha256"
  args:
    chdir: /tmp
    creates: /tmp/kubectl
  register: checksum_result
  changed_when: checksum_result.rc == 0

- name: Install kubectl
  copy:
    remote_src: false
    src: /tmp/kubectl
    dest: /usr/local/bin/kubectl
    owner: root
    group: root
    mode: '0755'
  when: checksum_result.rc == 0

- name: Install Kind
  shell: curl -Lo /usr/local/bin/kind https://kind.sigs.k8s.io/dl/{{ kind_version }}/kind-linux-amd64 && chmod +x /usr/local/bin/kind
  args:
    creates: /usr/local/bin/kind
